@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.brewing {
    text-align: start;
    overflow-y: hidden;
    padding: 0 1.9375rem;

    &__type {
        text-align: center;
        padding: 1.5625rem .625rem .9375rem .625rem;

        &--name {
            padding-bottom: .625rem;
            font-size: 1.25rem;
            color: $green-header;
        }
    }

}

.specs {

    &__ground-size {
        display: flex;
        margin: .3125rem 0;

    }

    &__amount {
        display: flex;
        margin-bottom: .3125rem;
    }

    &__steps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &--val {
            &-li {
                display: flex;
                flex-direction: row;
                margin-top:.3125rem;
             &--stp{
                text-align: start;
                padding-left:.3125rem;
             }

            }
        }
    }

}

.name {
    font-weight: 600;
    color: $green-header;
    font-size: .875rem;
}

.value {
    font-size: 1.0625rem;
    border: .0625rem solid $pink-border;
    background-color: $pink-fill;
    color: $rust-border;
    padding: 0 .5rem;
    margin-left: .5rem;
}

.value2 {
    font-size: 1.0625rem;
    border: .0625rem solid $pink-border;
    background-color: $yellow-background;
    color: $rust-border;
    padding: 0 .5rem;
    margin-left: .5rem;
}