@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.collections {
    padding: 1.875rem 1.9375rem;
    align-content: baseline;
    text-align: start;
    background-color: $light-yellow-background;

    &__title {
        font-size: 1.25rem;
        color: $green-header;
    }

    &__sort-by {
        font-size: .9375rem;
        padding: .9375rem 0 1.5rem;
        display: flex;
        flex-direction: row;

        p {
            padding-right: 3%;
        }

        &--title {
            color: $green-header;
        }

        &--name {
            color: $green-subheader;
        }

        &--date {
            color: $green-subheader
        }
    }

    &__pages {
        display: flex;
        justify-content: space-around;

        &--img {
            align-self: center;
            padding-top: .9375rem;
        }
    }

    &__new {
        display: flex;
        justify-content: space-around;

        &--header {
            align-self: center;
            font-size: .8125rem;
            font-weight: 500;
            color: $rust-border;
            padding: 1.25rem 0 .625rem;
        }
    }
}

.collection {
    background-color: $yellow-background;
    display: flex;
    flex-direction: row;
    border: .0625rem solid $rust-border;
    border-radius: .625rem;
    margin-bottom: 1.625rem;

    &__left {
        background-color: $green-background;
        border-radius: .625rem;
        padding: 0 .3125rem;
        margin-right: .3125rem;

        &--img{
            background-image: none;
            padding-top: .3125rem;
            width: 3.6875rem;
            height: 4.125rem;

        }
    }

    &__right {
        width: 86%;
    }

    &__name {
        font-size: 1rem;
        font-weight: 400;
        color: $green-header;
        padding: .3125rem 0;
    }



    &__middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: .1875rem;

        &-user {
            font-size: .625rem;
            color: $green-header;
            margin-right: 1.25rem;

        }

        &-desc {
            font-size: .625rem;
            color: $green-header;
        }
    }

    &__time {
        font-size: .625rem;
        color: $green-header;
        padding-bottom: .3125rem;
    }



}