* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
  }
  body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }


a {
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}