$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$yellow-background: #FFF8E8;
$light-yellow-background: #FDFBF7;
$green-background: #CCDCCE; 
$green-button:#337A4F;
$yellow-title: #FEC459;
$yellow-subtitile: #FBC654;
$green-header:#154A4F;
$green-subheader:#13828C;
$rust-border: #FB7454;
$blue-body: #1D8C99;
$white-body:#ffff;
