@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

body {
    background-color: $light-yellow-background;
    font-family: 'Poppins', sans-serif;

}

.start {
    background-color: $yellow-background;
    &__top-row {
        & img {
            width: 35%;
        }

    }

    &__middle-row {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 0 1.875rem 0;

        & .togo-mug {
            position: relative;
            top: 1.875rem;
            width: 18%;

        }

        & .right-beans {
            bottom: 1.875rem;
            width: 20%;
            position: relative;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        padding: 1.375rem 0;

        &-welcome {
            & h1 {
                font-weight: 400;
                color: $yellow-title;
                text-decoration: none;
                font-size: 2.5625rem;
            }

            padding:1.375rem;
        }

        &-intro {
            padding-bottom: 1.25rem;
            margin: 0 .625rem;
            color: $green-header;
            font-size: 1.125rem;
        }

        &-button {
            & button {
                background-color: $green-button;
                width: 60%;
                border-radius: .5625rem;
                border: .0625rem solid $green-button;

                & p {
                    padding: .625rem;
                    color: $white-body;
                    font-size: 1.0625rem;
                }
            }

        }
    }


    &__bottom-row {

        & .left-beans {
            position: relative;
            top: 3.125rem;
            right: 1.5625rem;
        }

        & .brewing-pot {
            position: relative;
            top: 3.125rem;
            left: 1.5625rem;
        }
    }
}