@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.header {
    background-color: $light-yellow-background;
    display: flex;
    padding: 2.5rem 1.875rem 0;
    justify-content: space-between;
    align-items: center;

    &__image {
        border-radius: 37%;
        width: 20%;

    }

    &__search {
        &--input {
            &-text {
                height: 1.875rem;
                border: .0313rem solid $yellow-title;
                border-radius: .625rem;
                background-color: $yellow-text;

            }

            &-text::placeholder {
                padding-left: .3125rem;
                color: $yellow-title;

            }
        }
    }
}