@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.footer {
    position:absolute;
    border-top: solid .0938rem $rust-border;
    width: 100%;
    bottom:0%;

    &__nav {
        background-color: $light-yellow-background;
        padding: 1.6494rem 0;
        display: flex;
        justify-content: space-evenly;

    }

}