@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.coffees{
    text-align: start;
    padding: 0 1.9375rem;  
    background-color: $light-yellow-background;
    height:100%;
    &__scrollable{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-y: scroll ;
        padding-top: .625rem;
    }

    &__collection{
        font-size: 1.25rem;
        padding-top: 1.25rem;
        color: $green-header;
        font-weight: 500;
    }

}

.coffee{
    border: .0625rem solid $yellow-title;
    border-radius: .625rem;
    width: 46%;
    height: 21vh;
    padding:.3125rem;
    margin: .625rem 0;

    &__ratings{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
        &--single{
            padding: .625rem .125rem;
        }
    }

    &__blend{
        font-size: .9375rem;
        font-weight: 400;
        color: $green-header;
    }

    &__brand{
        font-size:.75rem;
        font-weight:600;
        color: $green-header;
        padding-bottom: .5rem;
    }

    &__roast{
        font-size:.6875rem;
        color: $green-header;
        display:flex;
        flex-direction:row;
        padding-bottom: .125rem;

        &--title{
            font-weight:bold;
            padding-right: .3125rem;
        }

        &--name{
            font-weight:lighter;
            

        }
    }

    &__country{
        font-size:.6875rem;
        color: $green-header;
        display: flex;
        flex-wrap:wrap;
        padding-bottom: .125rem;
    

        &--title{
            font-weight:bold;
            padding-right: 5px;
        }

        &--name{
            font-weight:lighter;
            list-style-type: none;

        }
    }

    &__notes{
        font-size:.6875rem;
        color: $green-header;
        padding-bottom: .125rem;
    

        &--title{
            font-weight:bold;
            padding-right: .3125rem;
        }

        &--name{
            font-weight:lighter;
            list-style-type: none;

        }
    }


}


